@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: calc(16px + 0.25vw);
  @media (max-width: 375px) { // only small mobile device
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

body {
  overscroll-behavior-y: none; // restrict pull-to-refresh
}

// set font to all elements
body, button, select {
  font-family: 'Noto Sans JP', sans-serif;
}
